<div mat-dialog-content>
  <p>Add new book:</p>
</div>
<label>Serial number:
  <input #serialNumber/><br/></label>

<label>Title:<br><input #title/><br/>
</label>

<label>Author:<br>
  <input #author/>
  <br/>
</label>

<label>Year:<br>
  <input #year/>
  <br/>
</label>

<label>Price:<br>
  <input #price/>
  <br/>
</label>

<label>In stock:<br>
  <input #inStock/>
  <br/>
</label>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="" (click)="saveBook(serialNumber.value,title.value,author.value,year.value,price.value,inStock.value)">
    Save
  </button>
  <button mat-button  cdkFocusInitial>Cancel</button>
</div>
